In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
!pip install pandas

In [ ]:
a=["teja","sreeja","trishitha","ramya"]
b=pd.Series(a,index=[1,5,7,9])
print(b)

In [ ]:
#reading csv file
df=pd.read_csv("/content/sample_data/california_housing_test.csv")
print(df)
#print location
print(df.loc[2])
#print mean
print(df['median_income'].mean())
#remove duplicates
df=df.drop_duplicates()
print(df)
#accesing data using head and tail
df.head(10)
df.tail(10)
df.shape

In [ ]:
#converting the variable to file
test=df.tail(10)
print(test)
test.to_csv("test.csv")
test.to_excel("test.xlsx")
test1=test.tail(2)
print(test1)
#droping
for i in range(2999,2997,-1):
  test.drop([i],axis=0,inplace=True)
print(test)

In [ ]:
#groupby
print(test)
print(test.groupby(['total_rooms'])['total_bedrooms'].count())

In [ ]:
#reading text file
df=pd.read_csv("/content/numpy.txt",sep=" ")
print(df)

In [ ]:
df=pd.read_excel("/content/excelsheet (2).xlsx",sheet_name=1)
print(df)

In [ ]:
#connecting the drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#matplotlib
#for dot representation
runs=np.array([100,50,91,78,89,25,34,19,9,10])
w=np.array([1,0,2,0,3,7,8,9,7,5])
plt.scatter(runs,w,color='blue')
plt.title('IndvsPak_score')
plt.show()

In [ ]:
#pi value graph with plot functon
tigar=np.linspace(-2*np.pi,2*np.pi,50)
print(tigar)
plt.plot(tigar,np.sin(tigar),color='black')#plot(x,y,color,lables...)
plt.title("sin(x)")#heading of the graph
plt.show()#show the graph

In [ ]:
#creating match result
#creating x
overs=np.arange(5,50,5)
overs_a=np.arange(5,30,5)
#creating y
runs_i=np.array([25,51,84,131,160,189,220,250,267])
runs_a=np.array([15,41,94,110,151])
wickets=np.array([12,32,96])
#plotting
plt.subplot(2,1,1)
plt.plot(overs,runs_i,color='blue',label='india')
plt.legend(loc='best')
plt.subplot(2,1,2)
plt.plot(overs_a,runs_a,color='yellow',label='Austrailia')
plt.legend(loc='best')
#for labels
plt.legend(loc='best')
plt.show()

In [ ]:
a=[230,560,780,127,128]
b=[200,160,270,127,400]
years=[1,2,3,4]
profit_a=[(a[i]-a[i-1]) for i in range(1,len(a))]
profit_b=[(b[i]-b[i-1]) for i in range(1,len(b))]
plt.subplot(2,1,1)
plt.plot(years,profit_a,color='hotpink',linewidth='2',label='CompanyA',marker='*',ms='10',mec='m')
plt.legend(loc='best')
plt.subplot(2,1,2)
plt.plot(years,profit_b,color='black',linestyle='dotted',linewidth='1',label='CompanyB',marker='*',ms='10',mec='k')
plt.legend(loc='best')
plt.show()

In [ ]:
a=np.array([25,60,5,10])
labe=["AIML","PYTHON","PANDAS","NUMPY"]
plt.pie(a,labels=labe)
plt.show()

In [ ]:
a=np.array([25,60,5,10])
labe=["AIML","PYTHON","PANDAS","NUMPY"]
explo=[0.1,0,0,0]
c=["coral","yellowgreen","green","lightskyblue"]
plt.pie(a,labels=labe,explode=explo,colors=c,startangle=360)
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_excel("/content/temparature.xlsx")
print(df)
min=(df['Temparature'].min())
max=(df['Temparature'].max())
avg=(df['Temparature'].mean())
print("Lowest Temparature is :",min)
print("Highest Temparature is :",max)
print("Average Temparature is :",avg)
count=0
for i in df['Temparature']:
  if(i>avg):
    count=count+1
print("Number of days the temparature exceeds the threshold temparature is :",count)
plt.title("Temparature of 50 days")
plt.plot(df['Days'],df['Temparature'],color='green')
plt.legend(loc='best')
plt.show()